.search {
  display: flex;
  flex-flow: row nowrap;
  border: solid 1px lightgray;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 1px 1px lightgray;
}

.search__input {
  flex: 1 0 auto;
  border: none;
}

.search__input:focus {
  outline: none;
}

.search__close {
  opacity: 0.3;
  width: 20px;
  flex: 0 0 auto;
}

.search__close:hover {
  opacity: 1;
}

.search__close:before,
.search__close:after {
  content: " ";
  height: 100%;
  width: 2px;
  background-color: #333;
  width: 32px;
}

.search__close:before {
  transform: rotate(45deg);
}
.search__close:after {
  transform: rotate(-45deg);
}
